<div id="<%= dom_id event %>">
  <h2>
    <%= link_to event.location, event %>
  </h2>

  <p>
    <strong>Event Organizer:</strong>
    <%= link_to event.creator.email, event.creator %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= event.date.strftime("%m/%d/%Y") %>
  </p>
</div>