<%= render 'account' %>

<h1>Upcoming Events:</h1>
<div>
  <% @events.upcoming.order(:date).each do |event| %>
    <%= render event %>
  <% end %>
</div>

<h1>Past Events:</h1>
<div>
  <% @events.past.order(date: :desc).each do |event| %>
    <%= render event %>
  <% end %>
</div>